body {
  background-color: AliceBlue;
  font-family: Arial, Helvetica, sans-serif;
}
h1 { 
  color: DarkSlateGray;
  text-align: center;
}
.assign {
  display: flex;
  padding: 10px;
  margin: 10px;
  background: WhiteSmoke;
}
.assign img {
  width: 200px;
  padding: 10px;
}

